.hidden {
    display: none;
}

.product_eenheid{
    text-align: left;
}

.table {
    margin-top: 20px;
}

tr.product_beschrijving {
    display: none;
}

.prijs_class_normaal{
    text-shadow: 5px 5px 5px green;
}

.prijs_class_waarschuwing{
    text-shadow: 5px 5px 5px orange;
}

.prijs_class_fout{
    text-shadow: 5px 5px 5px red;
}

.prijs_class_geen{
    text-shadow: 5px 5px 5px blue;
}