{% extends "base.html" %}
{% load admin_urls %}
{% load staticfiles %}

{% block content %}
<form action="" method="GET">
    {% csrf_token %}
    naam:<input type="text" name="naam" />
    leverancier:<input type="text" name="leverancier">
    <input type="submit" value="Zoek">
</form>

    <h2>Producten</h2>
    <table>
        <tr>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th>Leverancier</th>
            <th>Prijs</th>
            <th></th>
        </tr>
        {% for product in object_list %}
        <tr>
            <td class="product_naam">{{ product.naam }} </td>
            <td class="product_beschrijving">{{ product.beschrijving }}</td>
            <td class="product_leverancier">{{ product.leverancier.naam}}</td>
            <td class="product_prijs">{{ product.prijs}} / {{ product.eenheid.afkorting }}</td>
            <td class="hidden">{{ product.klembord_lijn }}</td>
            <td>
                <button class="klembord_button">klembord</button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static "producten/main.js" %}" ></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "producten/stylesheet.css" %}">
{% endblock %}


