{% extends "base.html" %}
{% load admin_urls %}
{% load staticfiles %}

{% block content %}
    <h2>Producten</h2>

    <form action="" method="GET">
        {% csrf_token %}
        <span class="input-group">
            <span class="input-group-addon">naam</span>
            <input type="text" class="form-control" name="naam" placeholder="Naam"
                   onKeyPress="return checkSubmit(event)"/>
        </span>

        <span class="input-group">
            <span class="input-group-addon">leverancier</span>
            <input type="text" class="form-control" name="leverancier" placeholder="Leverancier"
                   onKeyPress="return checkSubmit(event)"/>
        </span>

        <input type="submit" style="display:none"/>
    </form>

    <table class="table">
        <tr>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th>Leverancier</th>
            <th>Prijs</th>
            <th>Eenheid</th>
            <th></th>
        </tr>
        {% for product in object_list %}
        <tr>
            <td class="product_naam">{{ product.naam }} </td>
            <td class="product_beschrijving">{{ product.beschrijving }}</td>
            <td class="product_leverancier">{{ product.leverancier.naam}}</td>
            <td class="product_prijs">{{ product.prijs}} </td>
            <td class="product_eenheid">{{ product.eenheid.afkorting }}</td>
            <td class="hidden">{{ product.klembord_lijn }}</td>
            <td>
                <button class="klembord_button">klembord</button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block scripts %}
    <script src="{% static "producten/main.js" %}" ></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "producten/stylesheet.css" %}">
{% endblock %}


