{% extends "base.html" %}
{% load admin_urls %}
{% load staticfiles %}

{% block content %}
    <h1>Producten</h1>
    <h3>Zoeken</h3>

    <form action="" method="GET" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="naamInput">Naam</label>
            <input id="naamInput" type="text" class="form-control" name="naam" placeholder="Naam"
                   onKeyPress="return checkSubmit(event)"/>
        </div>

        <div class="form-group">
            <label for="leverancierInput">Leverancier</label>
            <input id="leverancierInput" type="text" class="form-control" name="leverancier" placeholder="Leverancier"
                   onKeyPress="return checkSubmit(event)"/>
        </div>

        <input class="btn" type="submit" value="zoeken"/>


    </form>

    <h3>Resultaat</h3>

    <table class="table">
        <tr>
            <th>Naam</th>
            <th>Kopieer</th>
            <th>Leverancier</th>
            <th>Prijs</th>
            <th>Eenheid</th>
            <th>Opmerking</th>
        </tr>
        {% for product in object_list %}
        <tr>
            <td class="product_naam"><a href="{% url "admin:producten_simpelproduct_change" product.pk %}?next={{ request.path }}"> {{ product.naam }}</a> </td>
            <td>
                <span class="glyphicon glyphicon-euro klembord_button {{ product.prijs_css_class }}"></span>
            </td>
            <td class="product_leverancier">{{ product.leverancier.naam}}</td>
            <td class="product_prijs">{{ product.prijs}} </td>
            <td class="product_eenheid">{{ product.eenheid.afkorting }}</td>
            <td class="hidden">{{ product.klembord_lijn }}</td>
            <td class="product_beschrijving">{{ product.beschrijving }}</td>
        </tr>
        {% endfor %}
    </table>

    <form  action="{% url 'admin:producten_simpelproduct_add' %}?next={{ request.path }}">
        <input class="btn" type="submit" value="Product toevoegen" />
    </form>

    <div class="pagination">
    {% if is_paginated %}
        <ul class="pagination">
                {% for pg in paginator.page_range %}
                    {% ifequal pg paginator.number %}
                        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% else %}
                        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% endifequal %}
                {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static "producten/main.js" %}" ></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "producten/stylesheet.css" %}">
{% endblock %}


